> ## **Task 1**
* Name: DEVANSHU GUPTA
* Reg.No.: 21BCE0597
* Email id: devanshu.gupta2021@vitstudent.ac.in
* Github Repo: https://github.com/devanshu0602/Applied-Data-Science
* Branch: CSE
* Campus: VIT Vellore
* Learning Track: AI & ML in collab. with Google (Applied Data Science)
* Batch: Evening (6pm - 8pm)

### Task 1.1 ---> Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np

In [2]:
# Take inputs for number of features and observations - (in our case this will be 4.)
num_of_features = 4
num_of_observations = 4

In [3]:
# Stores all the values in the data as a 2D list
data_values = []

# Getting randomized values using nummpy.random.randint() as the dataset
for _ in range(num_of_observations):
  data_values.append(list(np.random.randint(25, size=num_of_features)))

# Making a random value equal to NaN
random_row = int(np.random.randint(num_of_observations - 1, size = 1))
random_col = int(np.random.randint(num_of_observations - 1, size = 1))
data_values[random_row][random_col] = np.nan

# Print the values
print(data_values)

[[12, 5, 6, 21], [nan, 18, 19, 21], [17, 0, 22, 2], [3, 24, 12, 14]]

In [4]:
# Using pd.DataFrame() to use 'data_values' as a dataframe
df = pd.DataFrame(data_values)

# Print the values
print(df)

      0   1   2   3
0  12.0   5   6  21
1   NaN  18  19  21
2  17.0   0  22   2
3   3.0  24  12  14

### Task 1.2 ---> Rename the task 1.1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'.

In [5]:
# Renaming the columns
df.columns = ['Random_value_1','Random_value_2','Random_value_3','Random_value_4']

# Print the values
print(df)

   Random_value_1  Random_value_2  Random_value_3  Random_value_4
0            12.0               5               6              21
1             NaN              18              19              21
2            17.0               0              22               2
3             3.0              24              12              14

### Task 1.3 ---> Find the descriptive statistics of the 'df' dataframe.

In [6]:
# Using the .describe() method to find the descriptive statistics of the dataframe
df.describe()

       Random_value_1  Random_value_2  Random_value_3  Random_value_4
count        3.000000        4.000000        4.000000        4.000000
mean        10.666667       11.750000       14.750000       14.500000
std          7.094599       11.146748        7.182154        8.962886
min          3.000000        0.000000        6.000000        2.000000
25%          7.500000        3.750000       10.500000       11.000000
50%         12.000000       11.500000       15.500000       17.500000
75%         14.500000       19.500000       19.750000       21.000000
max         17.000000       24.000000       22.000000       21.000000

In [7]:
# Direct methods can also be used
print(f"Mean of 'Random_value_1' column = {df.Random_value_1.mean()}")
print(f"Median of 'Random_value_2' column = {df.Random_value_2.median()}")
print(f"Variance of 'Random_value_3' column = {df.Random_value_3.var()}")
print(f"Standard deviation of 'Random_value_4' column = {df.Random_value_4.std()}")

Mean of 'Random_value_1' column = 10.666666666666666
Median of 'Random_value_2' column = 11.5
Variance of 'Random_value_3' column = 51.583333333333336
Standard deviation of 'Random_value_4' column = 8.962886439832502

### Task 1.4 ---> Check for the null values in 'df' and find the data type of the columns.

In [8]:
# Checking individual values for null values
# -> True implies that it is a null value
# -> False implies that it is not a null value
print(f"Individually:\n{df.isnull()}")

Individually:
   Random_value_1  Random_value_2  Random_value_3  Random_value_4
0           False           False           False           False
1            True           False           False           False
2           False           False           False           False
3           False           False           False           False

In [9]:
# Checking columns for null values
# -> True implies that the column contains null values
# -> False implies that the column does not contain null values
print(f"Column wise:\n{df.isnull().any()}")

Column wise:
Random_value_1     True
Random_value_2    False
Random_value_3    False
Random_value_4    False
dtype: bool

In [10]:
# Finding datatypes of columns in df
# -> gives the datatypes of all individual columns
df.dtypes

Random_value_1    float64
Random_value_2      int64
Random_value_3      int64
Random_value_4      int64
dtype: object

### Task 1.5 ---> Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [11]:
# Displaying the 'Random_value_2' & 'Random_value_3' column values using loc method
df.loc[:, ['Random_value_2','Random_value_3']]

   Random_value_2  Random_value_3
0               5               6
1              18              19
2               0              22
3              24              12

In [12]:
# Displaying the 'Random_value_2' & 'Random_value_3' column values using iloc method
df.iloc[:, 1:3]

   Random_value_2  Random_value_3
0               5               6
1              18              19
2               0              22
3              24              12